.kun-content-added {
  display: inline;
  color: #17c964;
  font-weight: bold;
}

.kun-content-deleted {
  display: inline;
  color: #f31260;
  text-decoration: line-through;
  font-weight: bold;
}

.kun-content-modified {
  display: inline;
}
