@import './tailwindcss.css';
@import './blog.css';
@import './prose.css';

[data-overlay-container='true'] {
  height: 100%;
  width: 100%;
}

/** TODO: **/
* {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Helvetica Neue,
    Helvetica,
    Arial,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    sans-serif !important;
}
